.map_inside {
    padding: 0.5%;
    padding-bottom: 1%;
}

.c_container {
    top: 10%;
    padding: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.content {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    padding: 7%;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.65);
}

.map_a {
    text-decoration: none;
}

.course_bg {
    padding: 4%;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.85);
}

.course_container {
    top: 15%;
    padding: 8%;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 5%;
    background: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.phone_menu {
    display: none;
}

@media (max-width:600px) {
    .course_container {
        padding-top: 20%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .c_container {
        padding-top: 20%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .blank {
        display: none;
    }

    .disappear {
        display: none;
    }
}

@media(max-width:920px) {
    .phone_menu {
        position: fixed;
        z-index: 3;
        top: 10%;
        right: 5%;
        display: block;
    }

    .com_button1 {
        display: none;
    }

    .com_button2 {
        display: none;
    }

    .com_button3 {
        display: none;
    }

    .com_button4 {
        display: none;
    }
}

.com_button1 {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 90px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.com_button2 {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 145px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.com_button3 {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 200px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.com_button4 {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 255px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.com_button1:hover {
    background-color: #6f73c1;
    transition-duration: .5s;
}

.com_button2:hover {
    background-color: #6f73c1;
    transition-duration: .5s;
}

.com_button3:hover {
    background-color: #6f73c1;
    transition-duration: .5s;
}

.com_button4:hover {
    background-color: #6f73c1;
    transition-duration: .5s;
}

.no_decoration {
    text-decoration: none;
}

.no_decoration:hover {
    text-decoration: none;
    color: white;
}

.credit {
    border-radius: 1000px;
    padding: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 2px;
    color: white
}

.os {
    box-shadow: 0 0.1rem 1rem rgba(133, 147, 210, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    color: #8593d2;
    margin-bottom: 10px;
}

.os_color {
    color: #8593d2;
}

.structure {
    box-shadow: 0 0.1rem 1rem rgba(111, 126, 193, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    color: #6f7ec1;
    margin-bottom: 10px;
}

.stru_color {
    color: #6f7ec1;
}

.web_program {
    box-shadow: 0 0.1rem 1rem rgba(76, 93, 167, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    color: #4c5da7;
    margin-bottom: 10px;
}

.webPro_color {
    color: #4c5da7;
}

.open_source {
    box-shadow: 0 0.1rem 1rem rgba(49, 66, 138, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    color: #31428a;
    margin-bottom: 10px;
}

.openSour_color {
    color: #31428a;
}

.team {
    box-shadow: 0 0.1rem 1rem rgba(23, 34, 99, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    color: #172263;
    margin-bottom: 10px;
}

.team_color {
    color: #172263;
}

.blank {
    color: white;
    padding: 10px;
    margin: 3px;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    align-items: center;
}

.dot {
    text-align: center;
    word-break: keep-all;
}

.button_length {
    width: 100% !important;
}

.map_btn {
    padding: 4%;
    border: solid 1px;
    border-color: #6bb2c5;
    color: white;
    background-color: #6bb2c5;
    border-radius: 10px;
    width: 100%;
}

.map_btn:hover {
    color: white;
    background-color: #6f73c1;
    transition-duration: .5s;
}